<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SBoard.mapper.CommentMapper">

<insert id="insert">
insert into tbl_comment (cno, bno, ccontent, cwriter)
values (seq_comment.nextval, #{bno}, #{ccontent}, #{cwriter})
</insert>


<select id="read" resultType="com.SBoard.vo.CommentVO">
select * from tbl_comment where cno = #{cno}
</select>

<update id="update">
update tbl_comment
set ccontent = #{ccontent}, cupdateregdate = sysdate
where cno = #{cno}
</update>

<delete id="delete">
delete from tbl_comment where cno = #{cno}
</delete>

<select id="getList" resultType="com.SBoard.vo.CommentVO">
select cno,bno,ccontent,cwriter,cregdate,cupdateregdate
from tbl_comment
where bno = #{bno}
order by cno asc
</select>


<select id="getListPaging" resultType="com.SBoard.vo.CommentVO">
<![CDATA[
select cno, bno, ccontent, cwriter, cregdate, cupdateregdate
from
	(
	select /*+INDEX(tbl_comment idx_comment) */
    rownum rn, cno, bno, ccontent, cwriter, cregdate, cupdateregdate
	from tbl_comment
	where bno=121
	and cno > 0
	and rownum <= #{page.pageNum} * #{page.amount}
) where rn > (#{page.pageNum}-1) * #{page.amount}
]]>
</select>










</mapper>